<ion-header>
  <ion-toolbar>
    <ion-title>OnOffCurro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-container">
    <h2>¡Bienvenido a la aplicación OnOffCurro!</h2>
    <p>
      Si ya tienes una cuenta, por favor ingresa tus datos para acceder. Si no tienes cuenta, puedes registrarte para acceder a todas las funcionalidades.
    </p>

    <form (submit)="onSubmit()" #loginForm="ngForm">
       <!-- Correo Electrónico -->
       <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <!-- Nombre -->
      <ion-item *ngIf="!isLogin">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

      <!-- Teléfono -->
      <ion-item *ngIf="!isLogin">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="text" [(ngModel)]="phone" name="phone" required></ion-input>
      </ion-item>

      <div class="login-actions">
        <ion-button expand="full" type="submit">{{ isLogin ? 'Iniciar sesión' : 'Registrar' }}</ion-button>
        <ion-button expand="full" color="secondary" (click)="toggleForm()">
          {{ isLogin ? '¿No tienes cuenta? Regístrate' : '¿Ya tienes cuenta? Inicia sesión' }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
